<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.trasim.workoutinwork">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.WorkoutHistoryActivity"
            android:label="@string/workouts_history" />
        <activity
            android:name=".activities.WorkoutActivity"
            android:label="@string/workout" />
        <activity
            android:name=".activities.WorkoutListActivity"
            android:label="@string/workout_s_list" />
        <activity
            android:name=".activities.InfoActivity"
            android:label="@string/info" />
        <activity
            android:name=".activities.DialogActivity"
            android:label="@string/initial_setup" />
        <activity
            android:name=".activities.DialogActivity2"
            android:label="@string/initial_setup" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme" />

        <activity android:name=".activities.WorkdayReportActivity"
            android:label="Workday report"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog"/>

        <receiver
            android:name=".recievers.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="WORKOUT_ALARM"/>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>